.post-page {
    display: flex;
    flex-direction: column;
    width: 1000px;
    text-align: left;
    margin: auto;
    background-color: #F1F0E8;
}

.middle-section {
    display: flex;
    align-items: center;
    /* space between is important to push the trash can and pen
    all the way to right */
    justify-content: space-between;
}

.middle-left-side {
    display: flex;
}

.middle-right-side {
    display: flex;
    gap: 10px;
}

.thumb,
.icon-image {
    margin-top: 10px;
    cursor: pointer;
}

.post-img {
    width: 200px;
    height: 200px;
}

.icon-image {
    width: 40px;
    height: 40px;
    border: none;
}

.botton-section {
    margin: 20px;
    background-color: aliceblue;
}